[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2 = "*"
django-environ = "*"
black = "*"
django-rest-framework = "*"
redis = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.9"
